.leftside{
    flex: 0.17;
    border: 1px solid black;
    min-width: 230px;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    background: #040404;
    

}
.leftside .logo{
    width: 100%;
    margin-right: auto;
    height: 70px;
padding-left: 7px;
padding-top: 14px;

}
.logo >img{
    width: 150px;
    padding: 10px;
}
strong{
    color: white;
    padding-left: 14px;
    margin-top: 10px;
}
hr{
    border: 1px solid gray;
    width: 90%;
    
    margin-left: 10px;
    margin-top: 2px;


}
.playlists{
    padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 4px;
  height: calc( 100vh - 300px - 59px);
  
  overflow-y: scroll;
  
}
.playlists::-webkit-scrollbar{
    width: 0.3rem;

}
.playlists::-webkit-slider-thumb{
    background-color: red;
}
.playlists > p{
    font-size: 13px;
    color: gray;
    padding-top: 10px;
    /* padding-bottom: 4px; */
    font-weight: 700;
    cursor: pointer;
    overflow: auto;
}
.playlists >p:hover{
    color: white;
}