.left_option{
    color: rgb(185, 183, 183);
    height: 30px;
    cursor: pointer;
    transition: 200ms color ease-in;
    padding-top: 10px;
    
    padding-left: 13px;
    display: flex;
    align-items: center;
}
.left_option :hover{
    color: white;
}
.left_option p{

    font-weight: 700;
    font-size: 15px;
    margin-left: 10px;

}
.left_option .icons{
    font-size: 30px;
}